/* CSS cho trang sản phẩm */
body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    background-color: white;
    margin:10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-details {
    text-align: center;
}

h3 {
    margin: 0;
}

p {
    margin: 5px 0;
}

/* Responsive design - điều chỉnh layout cho màn hình nhỏ */
@media (max-width: 768px) {
    li {
        width: 100%;
    }
}
.product{
    background-color: #f4f4f4;
}